[viewBag]
==
<footer id="fh5co-footer">
	
	<div class="container">
		<div class="row row-padded">
			<div class="col-md-12 text-center">
				<p class="fh5co-social-icons">
					<a href="#"><i class="icon-twitter"></i></a>
					<a href="#"><i class="icon-facebook"></i></a>
					<a href="#"><i class="icon-instagram"></i></a>
					<a href="#"><i class="icon-dribbble"></i></a>
					<a href="#"><i class="icon-youtube"></i></a>
				</p>
				<p><small>© Hydrogen Free HTML5 Template. All Rights Reserved. <br>
					Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | 
					Images by: <a href="http://pexels.com" target="_blank">Pexels</a> | 
					Octobered by: <a href="http://sliderweb.ru" target="_blank">SLIDER.WEB studio</a>
				</small></p>
			</div>
		</div>
	</div>
</footer>