[viewBag]
==
<div id="fh5co-offcanvass">
	<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
	<h1 class="fh5co-logo"><a class="navbar-brand" href="/">{{ this.theme.site_name }}</a></h1>
	<ul>
		<li class="active"><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/pricing/">Pricing</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
	<h3 class="fh5co-lead">Connect with us</h3>
	<p class="fh5co-social-icons">
		<a href="#"><i class="icon-twitter"></i></a>
		<a href="#"><i class="icon-facebook"></i></a>
		<a href="#"><i class="icon-instagram"></i></a>
		<a href="#"><i class="icon-dribbble"></i></a>
		<a href="#"><i class="icon-youtube"></i></a>
	</p>
</div>
