[viewBag]
==
<?php
function onStart($length = 10) {
    $characters = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
    $charactersLength = strlen($characters);
    $randomString = '';
    for ($i = 0; $i < $length; $i++) {
        $randomString .= $characters[rand(0, $charactersLength - 1)];
    }
    $this['cssrandom'] = $randomString;;
}
?>
==
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ this.page.title }} / {{ this.theme.site_name }} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ this.page.description }}" />
	<meta name="keywords" content="" />
	<link type="text/plain" rel="author" href="{{ '/'|app }}/humans.txt" />

  
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{ this.page.title }}"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content="{{ ''|page }}"/>
	<meta property="og:site_name" content="{{ this.theme.site_name }}"/>
	<meta property="og:description" content="{{ this.page.description }}"/>
	<meta name="twitter:title" content="{{ this.page.title }}" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="{{ ''|page }}" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon"  href="{{ 'assets/images/favicon.png'|theme }}?v={{ cssrandom }}">

	<link rel="stylesheet" type="text/css" href="{{ [
			'assets/css/animate.css',
			'assets/css/icomoon.css',
			'assets/css/myriadprocond.css',
			'assets/css/roboto.css',
			'assets/css/magnific-popup.css',
			'assets/css/salvattore.css',
			'assets/css/style.css',
		]|theme }}">
	

	<!-- Modernizr JS -->
	<script src="{{ 'assets/js/modernizr-2.6.2.min.js'|theme }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ 'assets/js/respond.min.js'|theme }}"></script>
	<![endif]-->

	</head>
