[viewBag]
==
<div class="col-md-8 col-md-offset-2">
	<h2>Pricing</h2>
	<div class="fh5co-spacer fh5co-spacer-sm"></div>
	<div class="row">
		<div class="col-md-4">
			<div class="fh5co-pricing-table">
				<h3>Starter</h3>
				<ul class="fh5co-list-check">
					<li class="fh5co-include">5 users</li>
					<li class="fh5co-include">10 projects</li>
					<li>10GB amount of space</li>
					<li>5 e-mail accounts</li>
				</ul>
				<a href="#" class="btn btn-block btn-sm btn-outline">Sign up</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="fh5co-pricing-table">
				<h3>Basic</h3>
				<ul class="fh5co-list-check">
					<li class="fh5co-include">5 users</li>
					<li class="fh5co-include">10 projects</li>
					<li class="fh5co-include">10GB amount of space</li>
					<li>5 e-mail accounts</li>
				</ul>
				<a href="#" class="btn btn-block btn-sm btn-primary">Sign up</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="fh5co-pricing-table">
				<h3>Pro</h3>
				<ul class="fh5co-list-check">
					<li class="fh5co-include">5 users</li>
					<li class="fh5co-include">10 projects</li>
					<li class="fh5co-include">10GB amount of space</li>
					<li class="fh5co-include">5 e-mail accounts</li>
				</ul>
				<a href="#" class="btn btn-block btn-sm btn-outline">Sign up</a>
			</div>
		</div>
	</div>
	
</div>